
    <%- include('../partials/nav') %>
    <h2>FLIGHTS</h2>
    <form action="/flights/new" method="GET">
        <table>
            <thead>
                <th> </th>
                <th>Airline</th>
                <th>Flight No.</th>
                <th>Departure</th>
               
            </thead>
            <tbody>
                
                <% flights.forEach(function(flight) { %>
                <tr>
                    
                    <td><%= flight.airline %></td>
                    <td><%= flight.flightNo %></td>
                    <td><%= flight.departs %></td>
                
                    <td><a href="/flights/<%= flight._id %>">DETAILS</a></td>
                </tr>
                <% }) %>
            
            </tbody>
        </table>
    </form>
